<% image_tag("background0_0.png") %>

<div id="question">残り<br>

<div id="left-question">
    <span id="left-question-num">5</span>問
</div>

<div id="question-word">
<% @question.each{|q| %>
    <div id="q-<%= q['id'] %>" class="q-word"><span class="<%= q['category'] %>"><%= q['question'] %></span></div>
<% } %>
</div>

</div>

<% @target.each{|t| %>
<div id="user-<%= t['id'] %>" class="user">
<div class="right">
    <img class="user-img" src="<%= t['right']['img'] %>">
    <span class="user-name"><%= t['right']['name'] %></span>
    <div class="hidden">
        <span class="sig"><%= t['right']['sig'] %></span>
        <span class="id"><%= t['right']['id'] %></span>
    </div>
</div>
<div class="left">
    <img class="user-img" src="<%= t['left']['img'] %>">
    <span class="user-name"><%= t['left']['name'] %></span>
    <div class="hidden">
        <span class="sig"><%= t['left']['sig'] %></span>
        <span class="id"><%= t['left']['id'] %></span>
    </div>
</div>
</div>
<% } %>
