<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja"
xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>spothon vote</title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>

<% url = ENV['APP_HOST'] ? ENV['APP_HOST'] : 'http://localhost:3000' %>

<meta property="og:type" content="website" />
<meta property="og:title" content="spothon vote" />
<meta property="og:url" content="<%= url %>/spothon_vote" />
<meta property="og:image" content="<%= url %>/assets/favicon.png" />
<meta property="fb:app_id" content="<%= Facebook::APP_ID %>" />
<meta property="og:description" content="spothon vote" />
<meta name="author" content="http://spothon.com" />
<link rel="canonical" href="<%= url %>/spothon_vote" />
<link rel="shortcut icon" href="<%= url %>/assets/favicon.png" />
</head>
<body>

<%= yield %>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/ja_JP/all.js"></script>
<script>
  FB.init({
    appId  : '<%= Facebook::APP_ID %>',
    status : true,
    cookie : true,
    xfbml  : true
  });
  FB.Canvas.setAutoResize();
</script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24293195-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
